<body>
<div class = "ui header"
<h1>Create New Artist</h1>
</div>

<%= render "form2", artist: @artist %>
<br>
<hr>

<div class = "ui violet button">
<%=link_to 'View All Artists', artists_path %>
</div>
</body>
