<body>
<div class = "ui huge header"><%= @billboard.name %></div>
<h3><%=@billboard.description%><h3>

<h4><% @billboard.songs.each do |song|%>
  <%= song.name %>
  <br>
  <% end %>
<hr>
<%= link_to "View All Billboards", billboards_path %>
</body>

