<h1><%= @billboard.name %></h1>
<h3><%=@billboard.description%><h3>

<h4><% @billboard.songs.each do |song|%>
  <%= song.name %>
  <br>
  <% end %>
<hr>
<%= link_to "View All Billboards", billboards_path %>

